body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;

  }
html{
  font-size: 20px;
}
.blue{
  color:skyblue;
}
.pink{
  color: rgb(255, 192, 203) ;
}
h1{
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 5px #aaa;
  border-bottom: solid rgb(115, 115, 114);
  }
#basic p{
    font-weight:bold;
  }